{% include 'header.html' %}

	<h3></h3>

   <div class="container">
		<div class='jumbotron' style="background-color:#a8dadc">
			<h1><u>About this website</u></h1>

			<p> This is <i>Spotify Song Weather Check </i>we made this website on <a href="https://onemonth.com/courses/python">one month</a> so that we could learn python. We had done a lesson for ruby on rails using <a href="https://onemonth.com/courses/python">one month</a> already, we called it petsnap. From this lesson we have learned so much and have really enjoyed it. We hope that the outcome is good and hope that it works!</p>	
		</div>

		<button onclick="window.location.href='http://petsnap.co.uk/';" type="button" class="btn btn-info">petSNAP</button>

	</div>

	

{% include 'footer.html' %}