{% include 'header.html' %}

	<nav class="navbar navbar-light" style="color:#f1faee; background-color:#457b9d;">
  			<a class="navbar-brand" href="/">Homepage</a>
  			<a class="navbar-brand" href="/about">About</a>

  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/about" aria-controls="/about" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
        	</button>
    </nav>

    <div class="container">
		<div class='jumbotron' style="background-color:#a8dadc">
			<h1><u>Welcome</u></h1>

			<p> On this website it shows the top 200 songs in groups of 10 depending on what the weather is in London. If the weather is clear it will show the top 10 songs, if the weather is rainy it will show the bottom 10 songs. if the weather is something else then it will show 10 songs from the middle at random.</p>	
		</div>
	</div>

	<div class="container">
  		<h3 class=""> Because it's {{weather}} in London these are the songs.</h3>
  		<img src="heart_200.png" alt="top 200 in a heart">
	</div>

{% include 'footer.html' %}